In [1]:
# Import modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 1. Basics

In [7]:
# Load data
data = pd.read_csv('./data/college_data.csv')

data.head()

,private,apps,accept,enroll,top10perc,top25perc,f_undergrad,p_undergrad,outstate,room_board,books,personal,phd,terminal,s_f_ratio,perc_alumni,expend,grad_rate
0,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [11]:
# Devide Top 10 percent students into 4 groups: `pd.qcut'

# `pd.qcut`: Devide data equally
data['adminssion_level'] = pd.qcut(data['top10perc'], 
                                   q=4,   # Numbers of groups
                                   labels=['very_low', 'low', 'high', 'very_high'])  # Labels of groups

In [13]:
# Visualization
plt.figure(figsize=(10, 6))
plt.bar(data['admission_level'].value_counts().index, data['admission_level'].value_counts().values)
plt.title('Number of Colleges by Admission Level')
plt.xlabel('Admission Level')
plt.ylabel('Number of Colleges')
plt.show()

KeyError: 'admission_level'