In [69]:
# Import modules
import numpy as np
import pandas as pd

# 1. Basics

In [70]:
# Generate an array
date_strings = np.array(['03-04-2023 11:32 PM',
                         '03-02-2013 05:23 AM',
                         '15-05-2024 10:24 PM'])

date_strings

array(['03-04-2023 11:32 PM', '03-02-2013 05:23 AM',
       '15-05-2024 10:24 PM'], dtype='<U19')

In [73]:
# Change type to TimeStamp
for date in date_strings:
    temp = pd.to_datetime(date, format = '%d-%m-%Y %I:%M %p', errors='ignore')
    print(temp)

2023-04-03 23:32:00
2013-02-03 05:23:00
2024-05-15 22:24:00

# 2. Set Timezone

## 2.1. Set Timezone 1

In [74]:
# Import modules
import pandas as pd

In [76]:
# Generate timestamp
pd.Timestamp('2023-01-01 06:00:00', tz='Europe/London')

date = pd.Timestamp('2023-04-20 07:00:00')
date

Timestamp('2023-04-20 07:00:00')

In [77]:
# Set a timezone
date_in_london = date.tz_localize('Europe/London')

date_in_london

Timestamp('2023-04-20 07:00:00+0100', tz='Europe/London')

In [91]:
# Change a timezone
date_in_chicago = date_in_london.tz_convert('America/Chicago')

date_in_chicago

Timestamp('2023-04-20 01:00:00-0500', tz='America/Chicago')

In [92]:
# Generate 3 dates
dates = pd.Series(pd.date_range('2/2/2023', periods=3, freq='M'))

# Set timezone
temp = dates.dt.tz_localize('America/Chicago')

temp

0   2023-02-28 00:00:00-06:00
1   2023-03-31 00:00:00-05:00
2   2023-04-30 00:00:00-05:00
dtype: datetime64[ns, America/Chicago]

## 2.2. Set Timezone 2

In [88]:
# Import modules
import pytz
from pytz import all_timezones

In [90]:
# Check a list of timezones
all_timezones[0:100]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome',
 'Africa/Timbuktu',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Anguilla',
 'America/Antigua',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/ComodRivadavia',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Aruba',
 'America/Asuncion',
 'America/Atikokan',
 'America/Atka',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Blanc-Sablon',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Buenos_Aires',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Catamarca',
 'America/Cayenne',
 'America/Cayman',
 'America/Chicago',
 'America/Chihuahua',
 'America/Ciudad_Juarez',
 'America/Coral_Harbour',
 'America/Cordoba',
 'America/Costa_Rica',
 'America/Creston']

In [94]:
# Set a timezone
dates.dt.tz_localize('dateutil/Asia/Seoul')

0   2023-02-28 00:00:00+09:00
1   2023-03-31 00:00:00+09:00
2   2023-04-30 00:00:00+09:00
dtype: datetime64[ns, tzfile('ROK')]

In [95]:
# 
tz = pytz.timezone('Asia/Seoul')

temp01 = dates.dt.tz_localize(tz)

temp01

0   2023-02-28 00:00:00+09:00
1   2023-03-31 00:00:00+09:00
2   2023-04-30 00:00:00+09:00
dtype: datetime64[ns, Asia/Seoul]

# 3. Set Date and Time

In [3]:
# Import modules
import numpy as np
import pandas as pd

In [4]:
# Create a dataframe
dateframe = pd.DataFrame()

dateframe

Empty DataFrame
Columns: []
Index: []

In [5]:
# Generate date and time
dateframe['date'] = pd.date_range('1/1/2023',
                                 periods=1000,
                                 freq='H')

dateframe

                   date
0   2023-01-01 00:00:00
1   2023-01-01 01:00:00
2   2023-01-01 02:00:00
3   2023-01-01 03:00:00
4   2023-01-01 04:00:00
..                  ...
995 2023-02-11 11:00:00
996 2023-02-11 12:00:00
997 2023-02-11 13:00:00
998 2023-02-11 14:00:00
999 2023-02-11 15:00:00

[1000 rows x 1 columns]

In [6]:
# Get a range of sample dates between two datetime
dateframe[(dateframe['date'] > '2023-1-1 01:00:00') & 
         (dateframe['date'] <= '2023-1-1 04:00:00')]

                 date
2 2023-01-01 02:00:00
3 2023-01-01 03:00:00
4 2023-01-01 04:00:00

In [8]:
# Generate a new datetime with index='date'
dateframe = dateframe.set_index(dateframe['date'])

dateframe

                                   date
date
2023-01-01 00:00:00 2023-01-01 00:00:00
2023-01-01 01:00:00 2023-01-01 01:00:00
2023-01-01 02:00:00 2023-01-01 02:00:00
2023-01-01 03:00:00 2023-01-01 03:00:00
2023-01-01 04:00:00 2023-01-01 04:00:00
...                                 ...
2023-02-11 11:00:00 2023-02-11 11:00:00
2023-02-11 12:00:00 2023-02-11 12:00:00
2023-02-11 13:00:00 2023-02-11 13:00:00
2023-02-11 14:00:00 2023-02-11 14:00:00
2023-02-11 15:00:00 2023-02-11 15:00:00

[1000 rows x 1 columns]

In [9]:
# Slice a range of datetime
temp = dateframe.loc['2023-1-1 01:00:00' : '2023-1-1 04:00:00']

temp

                                   date
date
2023-01-01 01:00:00 2023-01-01 01:00:00
2023-01-01 02:00:00 2023-01-01 02:00:00
2023-01-01 03:00:00 2023-01-01 03:00:00
2023-01-01 04:00:00 2023-01-01 04:00:00