- Note: I refer to Chapter 07 < Python for Data Analysis: Data Wrangling with Pandas, NumPy, and IPython (3rd) > (2023, Wes McKinney)

In [1]:
# Import modules
import pandas as pd

# 1. `Int64Dtype()`

- 'Extension Type' in Pandas   
   : The 'Extension Type' is recently developed for new data types which are not supported by NumPy

In [3]:
# Create a Series with a missing value
s = pd.Series([1, 2, None, 4, 5])

s

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [10]:
# Check the data type
s.dtype

dtype('float64')

In [12]:
# Create another series using 'float64' and use np.nan for missing values
s = pd.Series([1, 2, None, 4, 5], dtype=pd.Int64Dtype())
s

0       1
1       2
2    <NA>
3       4
4       5
dtype: Int64

In [14]:
s.dtype

Int64Dtype()

In [18]:
# `pd.NA` output

print('The value of s[2]: ', s[2])
print(s[2] is pd.NA)

The value of s[2]:  <NA>
True

In [21]:
# `Int64()` is a short form for `pd.Int64Dtype()
s = pd.Series([1, 2, None, 4, 5], dtype="Int64")

print('s: ', s)
print('\n Data type: ', s.dtype)

s:  0       1
1       2
2    <NA>
3       4
4       5
dtype: Int64

 Data type:  Int64

# 2. `pd.StringDtype()`

- `pd.StringDtype()`   
   : An extension type for string data which doesn't use Numpy object arrays

In [22]:
# Create an extension Series
s = pd.Series(['Apple', 'Banana', 'None', 'Pineapple', 'Mango'], dtype=pd.StringDtype())

s

0        Apple
1       Banana
2         None
3    Pineapple
4        Mango
dtype: string

In [24]:
s.dtype

string[python]

# 3. `astype()`

- `astype()`   
   : Extension types can be passed to the Series `astype`

In [28]:
# Create a DataFrame
df = pd.DataFrame({"A": ["Apple", "Banana", None, "Pineapple", "Mango"],
                  "B": [1, None, 3, 4, 5]})

df

           A    B
0      Apple  1.0
1     Banana  NaN
2       None  3.0
3  Pineapple  4.0
4      Mango  5.0

In [29]:
# Pass the extension types to `astype()`

df["A"] = df["A"].astype("string")
df["B"] = df["B"].astype("Int64")

df

           A     B
0      Apple     1
1     Banana  <NA>
2       <NA>     3
3  Pineapple     4
4      Mango     5