- Note: I refer to Chapter 07 < Python for Data Analysis: Data Wrangling with Pandas, NumPy, and IPython (3rd) > (2023, Wes McKinney)

In [1]:
# Import modules
import numpy as np
import pandas as pd

# 1. Categorical Extension Type in pandas

In [2]:
# Generate data
fruits = ['apple', 'banana', 'orange', 'apple', 'mango'] * 3

fruits

['apple',
 'banana',
 'orange',
 'apple',
 'mango',
 'apple',
 'banana',
 'orange',
 'apple',
 'mango',
 'apple',
 'banana',
 'orange',
 'apple',
 'mango']

In [4]:
# Get lengths
N = len(fruits)

N

15

In [5]:
# Generate a random ndarray
rng = np.random.default_rng(seed=85)

rng

Generator(PCG64) at 0x205AE4910E0

In [9]:
# Create a dataframe
df = pd.DataFrame({'fruit': fruits,
                  'trolley_id': np.arange(N),
                  'count': rng.integers(1, 50, size=N),
                  'weight': rng.uniform(0, 10, size=N)},
                  columns=['trolley_id', 'fruit', 'count', 'weight'])

df

    trolley_id   fruit  count    weight
0            0   apple     33  9.498623
1            1  banana     20  3.878612
2            2  orange     32  8.576257
3            3   apple     44  3.020834
4            4   mango     43  2.696557
5            5   apple     35  4.726105
6            6  banana     33  5.030312
7            7  orange     19  5.001996
8            8   apple     42  6.271397
9            9   mango     44  0.707725
10          10   apple     42  2.151131
11          11  banana     29  7.940386
12          12  orange      3  1.611120
13          13   apple      3  4.619833
14          14   mango     39  6.222751

In [10]:
# df['fruit'] - Check data type of 'fruit' column
df['fruit'].dtype

dtype('O')

In [11]:
# df['fruit'] - Convert datatype to categorical
fruit_cat = df['fruit'].astype('category')

fruit_cat

0      apple
1     banana
2     orange
3      apple
4      mango
5      apple
6     banana
7     orange
8      apple
9      mango
10     apple
11    banana
12    orange
13     apple
14     mango
Name: fruit, dtype: category
Categories (4, object): ['apple', 'banana', 'mango', 'orange']