* Note: I refer to Chapter 06 < Python for Data Analysis: Data Wrangling with Pandas, NumPy, and IPython (3rd) > (2017, Wes McKinney)

# 0. Overview

- Dataset: An HTML file about bank failures from the U.S. FDIC government agency

# 1. Preparation

In [3]:
# !pip install lxml  # On Jupyter Notebook, lxml is installed in default

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lxml in c:\mine\programming\anaconda3\lib\site-packages (4.9.1)

In [2]:
# Import modules
import pandas as pd
import numpy as np

# 2. Parse HTML

- pandas.read_html
  - Parse all data from tables
  - Output is saved as a list of DataFrame

In [4]:
# Get data from a table from the FDIC website to a table
tables = pd.read_html("https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/")

len(tables)

1

In [6]:
# Check column headers (titles)
failures = tables[0]

failures.head()

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
1,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
2,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,"March 10, 2023",10539
3,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
4,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537

# 3. Parse XML

In [15]:
# Import modules
from lxml import objectify

In [ ]:
# Set a path for parcing a XML
path = 'examples/mta_perf/Performance_MNR.xml'

with open(path) as f:
    parsed = objectify.parse(f)
    

    
# Get a reference to the rrot node    
root = parsed.getroot()

In [ ]:
# Change a data type from Dictionary Lsit to DataFrame
perf = pd.DataFrame(data)

# Check the head
perf.head()